{% extends "layout.html" %}
{% block title %}MD5, SHA256 or Base64 your content | CodeGadget{% end %}
{% block body %}
             
<div class="ui sixteen column doubling stackable grid container" id="main_body">
    <div class="ui raised very padded text container segment">
        <h2 class="ui header">
            <i class="slack hash icon"></i>
            <div class="content">
            Hash your content!
            </div>
        </h2>
        {% try %}
            {% if error %}
            <div class="ui negative message">
                <div class="header">
                    Error
                </div>
                <p>There was an error - please try again.</p>
            </div>
            {% end %}
        {% except %}
        {% end %}
        {% if hash %}
        <div class="ui message">
            <p>Input: {{ input }}</p>
            <p>{{ hash_choice }}: {{ hash }}</p>
        </div>
        {% end %}
        <form method="post">
            <div class="ui form">
                <select name="hash_choice" class="ui fluid selection dropdown">
                    <option value="">Choose hash!</option>
                    <option value="MD5">MD5</option>
                    <option value="SHA-256">SHA-256</option>
                    <option value="Base64-Encoded">Base64 Encode</option>
                    <option value="Base64-Decoded">Base64 Decode</option>
                </select>
                <div class="field">
                    <textarea name="input" id="hash_textarea" placeholder="Your plaintext goes here"></textarea>
                </div>
                <button class="teal ui fluid button">Generate</button>
            </div>
        </form>    
    </div> 
</div>

{% end %}