<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="ui teal inverted stackable menu">
            <div class="item">
                <h4>Stronk</h4>
            </div>
                <a class="item" href="">Home</a>
                <a class="item" href="">Username Generator</a>
                <a class="item" href="">Password Generator</a>
                <a class="item" href="">JSON formatter</a>
                <a class="item" href="">Unit Conversion</a>
        </div>
        {% block body %}
        {% end %}
    </body>
</html>
