{% extends "layout.html" %}


{% block body %}
<div class="ui sixteen column doubling stackable grid container" id="main_body">               
    <div class="ui raised very padded text container segment">
        <h2 class="ui header">
            <i class="lock icon"></i>
            <div class="content">
                Create a random password!
            </div>
        </h2>
        <div class="ui items">           
            {% for item in password %}
                <div class="item">
                    <div class="middle aligned content">
                        <p class="header">{{ item }}</p>
                    </div>
                </div>
                <div class="ui divider"></div>
            {% end %}
        </div>
        <button class="ui teal icon button">
            <a class="item" href="/password-generator"><i class="white redo icon"></i></a>
        </button>
    </div>
</div>
{% end %}